<%inherit file="/homepage/templates/base.htm" />
<%block name="page_title">Add a New Perscriber</%block>
<%block name="main_content">
    <section>
      <div class="container">
        <div class="row">
        <div class="col-12">
          <h1 class="border-bottom mb-4 pb-1" style="border-bottom-style: dotted!important;">
              Add a New Perscriber
          </h1>
        </div>

          <div class="col-12">
            <div class="well">
              <form class="oak_contact_form" method="post">
                ${ csrf_input }
                <div class="row">

                    %for field in form.visible_fields():
                        <div class="col-lg-6 col-12 form-group">
                        <label>${ field.label }</label>
                            ${ field }
                        </div>
                    %endfor
                    <div class="col-12 text-center col-lg-4 offset-lg-4">
                      <button class="btn btn-primary btn-block" type="submit">Add New Prescriber</button>
                    </div>


                </div>
              </form>
            </div>


          </div>

        </div>
      </div>
    </section>
</%block>
